<head>
    <title>Angle of atack indicator</title>
    
    <script>
        // Crea una nueva conexión.
        //const socket = new WebSocket('ws://' + window.location.hostname + ':81');
        const socket = new WebSocket('ws://192.168.1.114:81');
        

        // Abre la conexión
        socket.addEventListener('open', function (event) {
            console.log("Open connection");
        });

        // Escucha por mensajes
        socket.addEventListener('message', function (event) {
            console.log('Message from server', event.data);
            var angle = parseFloat(event.data);
            if (angle > 1.16){
                beep.currentTime = 0;
                beep.play();
            } else {
                beep.pause();
            }
            
            draw(angle);
        });
        
        var canvas;
        var ctx;
        var aoa;
        var needle;
        var beep;
        
        function init(){
            canvas = document.getElementById("canvas");
            ctx = canvas.getContext("2d");
            aoa = document.getElementById('aoa');
            needle = document.getElementById('needle');
            beep = document.getElementById("stallAudio");
            
            draw(0);
        }
        
        function draw(angle){
            ctx.setTransform(1, 0, 0, 1, 0, 0);
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(aoa, 0, 0);
            ctx.translate(110, 290);
            ctx.translate(277-Math.cos(angle+0.115192)*279,-(Math.sin(angle+0.115192)*279-32));
            ctx.rotate(angle);
            ctx.drawImage(needle, 0, 0);
            ctx.moveTo(0, 0);
        }
    </script>
</head>
<body onload="init()">
<canvas id="canvas" width="649" height="649"></canvas>
<div style="display:none;">
  <img id="aoa" src="aoa.png"  width="649" height="649">
  <img id="needle" src="needle.png"  width="466" height="53">
</div>

<iframe src="silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
<audio id="stallAudio">
  <source src="stall.mp3" type="audio/mp3">
</audio>
</body>



